{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    {{ include('_header.html.twig') }}

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">

        <div class="container">
            <h1 class="mt-5">Edit Link</h1>

            {{ include('link/_form.html.twig', {
                button_text: 'Edit'
            }) }}
        </div>
    </main>



{% endblock %}
